<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-[100%] h-screen flex">
        <div class="videofeed h-screen flex flex-col bg-zinc-300 w-[70%]">
            <div class="remotefeed bg-blue-200 h-1/2">
                <video class="w-full h-full object-cover " id="remotestream" autoplay playsinline></video>
            </div>
            <div class="localfeed bg-red-200 h-1/2">
                <video src="w-full h-full object-cover " id="localstream" autoplay muted></video>
            </div>
        </div>
        <div class="message-box h-full w-full bg-zinc-400 flex flex-col text-2xl relative">
            <h1 class="bg-zinc-300">Hello</h1>
            <form class="absolute bottom-5 w-[70%] bg-red-300">
                <input type="text">
                <input type="submit" name="" id="">
            </form>

        </div>  
    </div>
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
        integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
        crossorigin="anonymous"></script>
    <script>
        let localstream = document.querySelector('#localstream');
        let remotestream = document.querySelector('#remotestream');
        let peerConnection;
        let roomname;
        const socket = io();
  

        const setLocalStream = async()=>{
            try{
                let stream = await navigator.mediaDevices.getUserMedia({video: true, audio: true});
                localstream.srcObject = stream;
            }catch(e){
                console.error("failed to get media devices");
            }
        }

        socket.emit('joinroom');

        socket.on("joined", function (roomname) {
                room = roomname;
                console.log("connection established");
            })

        


        




    </script>
</body>

</html>